<!DOCTYPE html>
<html lang="en">

<head>
  <title>WOBINEWS</title>

 <meta charset="utf-8">
  <meta property="og:url"           content="<%= news.link %>" />
  <meta property="og:type"          content="<%= news.category %>" />
  <meta property="og:title"         content="<%= news.title %>" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="<%= news.share_image_link %>" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  

  
</head>

<body class="bg-light single-post style-default style-rounded">

  <!-- Preloader -->
 

  <main>
    <h6 style="color: orange"><%= news.category %></h6>
    <img src="<%= news.main_image_link %>" style="max-width: 72px; max-height: 72px;float: left;">
    <a href="<%= news.path %>" style="padding-left: 10px" target="_blank">
      <b><%= news.title %></b><br>
      <span style="padding-left: 10px">https://wobinews.com</span>
    </a>

  </main> <!-- end main-wrapper -->
 
  
</body>

<!-- Mirrored from junniepat.com/envato/WOBI/html/single-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Jun 2018 16:12:38 GMT -->
</html>